<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>

<html>
  <head>
    <title>IdeaBox</title></title>
  </head>
  <body>
    <h1>Raar</h1>
    <form action='/' method='POST'>
      <p>
        Your Ideas about cats:
      </p>
      <input type='text' name='idea_title'/><br/>
      <textarea name='idea_description'></textarea><br/>
      <input type='submit'/>
    </form>
  </body>
</html>